
<div class="container">
  <!-- code here -->
  <div class="card-two ">
    
  <form class="card-form">

    <div class="row-one">

      <div class="column">

        <app-select-components text="Languages"
          value1="French"
          value2="English"
          value3="Spanish"
          value4="Italian"
          value5="German">
        </app-select-components>

        <app-select-components text="Inputs" 
          value1="Xbox Controller"
          value2="Kinect"
          value3="Playstation Controller"
          value4="WiiMote"
          value5="SmartPhone"
          value6="TouchScreen"
          value7="Voice Control"
          value8="JoyCon"
          value9="SimRacing"
          value10="Virtual Reality (VR)"
          value11="DancePad"
          value12="Mouse and Keyboard">
        </app-select-components>

      </div>
      

      <div class="column">
        <app-select-components text="Status"
        value1="Alpha"
        value2="Beta"
        value3="Demo"
        value4="In development"
        value5="Released">
      </app-select-components>

        <app-select-components  text="Plateforms"
          value1="MacOS"
          value2="Linux"
          value3="Windows"
          value4="IOS"
          value5="Android"
          value1="Play in Browser">
        </app-select-components>

      </div>

    </div>
    

    <div class="row-two">

      <div class="input">
        <input type="text" class="input-field" required
        placeholder="write here..." />
        <label class="input-label">Author / Studio</label>
      </div>
      <div class="input">
        <input type="text" class="input-field" required
        placeholder="write here..." />
        <label class="input-label"> Made with</label>
      </div>
    </div>
    
    <div class="row-three">
      <div class="Genre">
        <h2>Genre</h2>
        <div class="column-one">
          <app-checkbox-template text="FPS"></app-checkbox-template>
          <app-checkbox-template text="Survival"></app-checkbox-template>
          <app-checkbox-template text="Action/Aventure"></app-checkbox-template>
          <app-checkbox-template text="Rogue Like"></app-checkbox-template>
          <app-checkbox-template text="Simulation"></app-checkbox-template>
          <app-checkbox-template text="RTS"></app-checkbox-template>
        </div>
        <div class="column-one">
          <app-checkbox-template text="TPS"></app-checkbox-template>
          <app-checkbox-template text="Combat"></app-checkbox-template>
          <app-checkbox-template text="Battle Royale"></app-checkbox-template>
          <app-checkbox-template text="MMORPG"></app-checkbox-template>
          <app-checkbox-template text="MOBA"></app-checkbox-template>
          <app-checkbox-template text="Party Games"></app-checkbox-template>
          <app-checkbox-template text="Puzzlers"></app-checkbox-template>
        </div>
        <div class="column-one">
          <app-checkbox-template text="RPG"></app-checkbox-template>
          <app-checkbox-template text="Rythme"></app-checkbox-template>
          <app-checkbox-template text="Hack N' Slash"></app-checkbox-template>
          <app-checkbox-template text="Reflexion"></app-checkbox-template>
          <app-checkbox-template text="Beat them All"></app-checkbox-template>
          <app-checkbox-template text="Plateforme"></app-checkbox-template>
        </div>


      </div>



      
      <div class="Tags">
        <h2>Tags</h2>
        <div class="column-one">
          <app-checkbox-template text="Free"></app-checkbox-template>
          <app-checkbox-template text="On Sale !"></app-checkbox-template>
          <app-checkbox-template text="5€ or less"></app-checkbox-template>
          <app-checkbox-template text="10€ or less"></app-checkbox-template>
        </div>
        <div class="column-one">
          <app-checkbox-template
          text="local Multiplayer"></app-checkbox-template>
          <app-checkbox-template
          text="Server Multiplayer"></app-checkbox-template>
          <app-checkbox-template
          text="Network Multiplayer"></app-checkbox-template>
        </div>
      </div>
 </div>

    <div class="row-four">

      <div class="input">
        <textarea type="text" class="input-field" id="input-field" required
          placeholder="comment the new updated..."></textarea>
        <label class="input-label">Last Updated</label>
      </div>
    </div>
  </form>
</div>
</div>
