
<div class="container">
  <!-- code here -->

  <form class="card-form">

    <div class="row-one">

      <div class="input">
        <textarea type="text" class="input-field" required
          placeholder="comment the new updated..."></textarea>
        <label class="input-label">Last Updated</label>
      </div>

      <div class="column">
        <select name="state" class="form-control selectpicker">
          <option value=" ">Status</option>
          <option>In Development</option>
          <option>Alpha</option>
          <option>Beta</option>
          <option>Demo</option>
          <option>Released</option>
        </select>

        <select name="state" class="form-control selectpicker">
          <option value=" ">Plateforms</option>
          <option>Windows</option>
          <option>Linux</option>
          <option>macOS</option>
          <option>IOS</option>
          <option>Android</option>
          <option>Play in Browser</option>
        </select>

      </div>

    </div>

    <div class="row-two">

      <div class="input">
        <input type="text" class="input-field" required
          placeholder="write here..." />
        <label class="input-label">Author / Studio</label>
      </div>

      <div class="Genre">
        <h2>Genre</h2>
        <div class="column-one">
          <app-checkbox-template text="FPS"></app-checkbox-template>
          <app-checkbox-template text="TPS"></app-checkbox-template>
          <app-checkbox-template text="Combat"></app-checkbox-template>
          <app-checkbox-template text="RTS"></app-checkbox-template>
          <app-checkbox-template text="Simulation"></app-checkbox-template>
        </div>
        <div class="column-one">
          <app-checkbox-template text="Plateforme"></app-checkbox-template>
          <app-checkbox-template text="RPG"></app-checkbox-template>
          <app-checkbox-template text="MMORPG"></app-checkbox-template>
          <app-checkbox-template text="MOBA"></app-checkbox-template>
          <app-checkbox-template text="Battle Royale"></app-checkbox-template>
        </div>
        <div class="column-one">
          <app-checkbox-template text="Action/Aventure"></app-checkbox-template>
          <app-checkbox-template text="Beat them All"></app-checkbox-template>
          <app-checkbox-template text="Puzzlers"></app-checkbox-template>
          <app-checkbox-template text="Reflexion"></app-checkbox-template>
          <app-checkbox-template text="Survival"></app-checkbox-template>
        </div>

        <div class="column-one">
          <app-checkbox-template text="Rogue Like"></app-checkbox-template>
          <app-checkbox-template text="Hack N' Slash"></app-checkbox-template>
          <app-checkbox-template text="Party Games"></app-checkbox-template>
          <app-checkbox-template text="Rythme"></app-checkbox-template>
        </div>
      </div>

    </div>

    <div class="row-three">

      <div class="input">
        <input type="text" class="input-field" required
          placeholder="write here..." />
        <label class="input-label"> Made with</label>
      </div>

      <div class="Tags">
        <h2>Tags</h2>
        <div class="column-one">
          <app-checkbox-template text="Free"></app-checkbox-template>
          <app-checkbox-template text="On Sale !"></app-checkbox-template>
          <app-checkbox-template text="5€ or less"></app-checkbox-template>
          <app-checkbox-template text="10€ or less"></app-checkbox-template>
        </div>
        <div class="column-one">
          <app-checkbox-template
            text="local Multiplayer"></app-checkbox-template>
          <app-checkbox-template
            text="Server Multiplayer"></app-checkbox-template>
          <app-checkbox-template
            text="Network Multiplayer"></app-checkbox-template>
        </div>

      </div>

    </div>

    <div class="row-four">
      <div class="column">
      <select name="state" class="form-control selectpicker">
        <option value=" ">Languages</option>
        <option>French</option>
        <option>Italian</option>
        <option>Spanish</option>
      </select>

      <select name="state" class="form-control selectpicker">

        <option value=" ">Inputs</option>
        <option>Xbox Controller</option>
        <option>Kinect</option>
        <option>Playstation Controller</option>
        <option>Wii Mote</option>
        <option>Smartphone</option>
        <option>TouchScreen</option>
        <option>Voice Control</option>
        <option>JoyCon</option>
        <option>SimRacing</option>
        <option>VR</option>
        <option>DancePad</option>
      </select>
    </div>
    </div>
  </form>
</div>
