/* Styles de base */
.carousel-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.carousel-slide img {
  min-width: 1012px;
  max-width: 1012px;
  min-height: 512px;
  max-height:512px;
  object-fit: cover;
  object-position: 100% 50;
  border: 2px solid transparent;
  border-radius: 2vh;
  image-rendering: auto;

}

button.prev, button.next {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
}

.arrow {
  filter: invert(43%) sepia(90%) saturate(2696%) hue-rotate(204deg) brightness(100%) contrast(98%);
}

.arrow:hover {
  filter: invert(77%) sepia(85%) saturate(3486%) hue-rotate(1deg) brightness(101%) contrast(101%);
}

.carousel-indicator {
  text-align: center;
  margin-top: 10px;
  font-size: 1rem;
  color: #333;
}

/* Responsive pour les écrans de 768px (tablettes) */
@media (max-width: 768px) {
  .carousel-container {
    padding-top: 5%;
  }

  .carousel-slide img {
    min-width: 300px!important;
    max-width: 300px!important;
    min-height: 150px!important;
    max-height: 150px!important;
  }

  button.prev {
    left: 5%;
  }

  button.next {
    right: 5%;
  }

  .arrow{
    width: 2.5em;
  }
}

@media (max-width: 1030px){
  .carousel-slide img {
    min-width: 800px;
    max-width: 800px;
    min-height: 400px;
    max-height: 400px;
  }

  .arrow{
    width: 3em;
  }
}
