<div class="carousel-container">

  <div class="row">
    <button class="prev" (click)="prevSlide()"><img class="arrow"
        src="/ion_left-arrow.svg" alt></button>

    <div class="carousel-slide">
      <picture>
        <img [src]="images[currentIndex]" alt="Image {{ currentIndex + 1 }}">
      </picture>
    </div>


  <button class="next" (click)="nextSlide()"><img class="arrow"
      src="/ion_right-arrow.svg" alt></button>
    </div>
  <div class="carousel-indicator">
    {{ currentIndex + 1 }} / {{ images.length }}
  </div>
</div>
