<div class="content">
  
  <div class="row-one">
    <app-carousel></app-carousel>
  </div>

  <div class="row-two">
    <div class="card">
      <div class="container">
        <!-- code here -->
        <div class="card-image">
          <app-input-file></app-input-file>
        </div>
        
        <form class="card-form">
          <div class="input">
            <input type="text" class="input-field" required
              placeholder="write something here..." />
            <label class="input-label">Title of your Game</label>
          </div>
          <div class="input">
            <textarea type="text" class="input-field" required
              placeholder="write something here..."></textarea>
            <label class="input-label">Description of your Game</label>
          </div>
          <div class="action">
            <button class="action-button">Add your Game</button>
          </div>
        </form>
        <div class="card-info">
          <p>For publish your Game you are agreeing to our <a href="#">Terms and
              Conditions</a></p>
        </div>
      </div>
      
    </div>
    
      <div class="card-two ">
          <app-category-create></app-category-create>
      </div>
</div>
