
.row-one{
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	padding-top: 2% ;
	padding-bottom: 2%;
	
}

.row-two{
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 2%;
	padding-bottom:2%;
}

@media (max-width:768px) {
	.row-one,.row-two{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		}

}
