<div class="content">
  <div class="column-right"></div>

  <div class="column-center">
    <div class="card">
      <label for="images" class="drop-container" id="dropcontainer">
        <span class="drop-title">Déposer vos fichiers</span>
        ou
        <input type="file" id="images" accept="image/*" required>
      </label>
      <div class="title-game">
        <input placeholder="Title of Game..." class="input" type="text" ({NgModel})="title">
      </div>
      <div class="content-game">
        <textarea class="input" placeholder="Description of the Game..."></textarea>
      </div>
      <div class="button-wrapper">
        <app-button-red text="CANCEL"></app-button-red>
        <app-button-green text="ADD"  (click)="printvalue()"></app-button-green>
      </div>
    </div>

    <div class="column-left"></div>

  </div>
</div>
