<div class="card">
    <div class="card-image">
      <app-input-file></app-input-file>
    </div>

    <form class="card-form" (ngSubmit)="OnSubmit()">

      <div class="input">

        <label class="input-label" for="title">
          <input type="text" class="input-field" id="title"
            formControlName="title" required
            placeholder="write something here..." />

          Title of your Game</label>

      </div>

      <div class="input">

        <label class="input-label" for="description">
          <textarea type="text" class="input-field" required
            placeholder="write something here..." id="description"
            formControlName="description"></textarea>

          Description of your Game
        </label>

      </div>

      <div class="action">
        <button class="action-button" type="submit">Add your Game</button>

      </div>

      <div class="card-info">

        <p>For publish your Game you are agreeing to our <a href="#">Terms
            and
            Conditions</a></p>

      </div>

    </form>
  </div>