<div class="card">
  <div class="card-image">
      <app-input-file></app-input-file>
  </div>

  <form #postGameForm="ngForm" class="card-form">

      <div class="input">
          <label class="input-label" for="title">
              Title of your Game
              <input type="text" class="input-field" id="title" name="title" placeholder="write something here..." required ngModel/>
          </label>
      </div>

      <div class="input">
          <label class="input-label" for="description">
              Description of your Game
              <textarea id="description" class="input-field" name="description" placeholder="write something here..." required ngModel></textarea>
          </label>
      </div>
    </form>

      <div class="card-info">
          <p>To publish your Game, you are agreeing to our <a href="#">Terms and Conditions</a></p>
      </div>

</div>
