.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 0.2em;
}

.rating.readonly {
    cursor: default;
}

.rating .star {
    font-size: 2.5em;
    color: #ddd;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    user-select: none;
}

.rating.readonly .star {
    cursor: default;
}

.rating .star.active {
    color: #ffb000;
}

.rating .star.hovered {
    color: #ffc233;
    transform: scale(1.1);
}

.rating .star:hover {
    transform: scale(1.1);
}
