<link rel="stylesheet" href="/src/bootstrap.min.css">

<footer class="footer">
    <h3 class="footer-text">Copyright
        &copy; Your Website 2023</h3>

    <div class="Social-media">

        <div class="playforge-link">
            <p>Follow us on</p>

            <app-nav-item img="bi--facebook.svg"></app-nav-item>
            <app-nav-item img="ri--twitter-x-line.svg"></app-nav-item>
            <app-nav-item img="mdi--instagram (1).svg"></app-nav-item>
            <app-nav-item img="ic--baseline-discord.svg"></app-nav-item>
        </div>

        <div
            class="Store">
            <p>Get the app on </p>

            <app-nav-item img="mage--playstore.svg"></app-nav-item>
            <app-nav-item img="hugeicons--app-store.svg"></app-nav-item>

        </div>
        
    </div>

    <div class="footer-text">
        <a class="m-3 text-white" href="" routerLink="/home">HOME |</a>
        <a class="m-3 text-white" href>About</a>
        <a class="m-3 text-white" href>Privacy</a>
        <a class="m-3 text-white" href>Cookie |</a>
        <a class="m-3 text-white" href>LOG IN</a>
        <a class="m-3 text-white" href>SIGN UP</a>
    </div>
</footer>