

<footer class="footer">
    <h3 class="footer-text">Copyright
        &copy; Your Website 2023</h3>

    <div class="Social-media">

        <div class="playforge-link">
            <p>Follow us on</p>

            <app-nav-item img="facebook.svg"></app-nav-item>
            <app-nav-item img="twitter.svg"></app-nav-item>
            <app-nav-item img="instagram.svg"></app-nav-item>
            <app-nav-item img="discord.svg"></app-nav-item>
        </div>

        <div
            class="Store">
            <p>Some games are available on</p>

            <app-nav-item img="playstore.svg"></app-nav-item>
            <app-nav-item img="AppStore.svg"></app-nav-item>

        </div>

    </div>

    <div class="footer-text">
        <a href routerLink="/home">HOME |</a>
        <a href>About</a>
        <a href>Privacy</a>
        <a href>Cookie |</a>
        <a href>LOG IN</a>
        <a href>SIGN UP</a>
    </div>
</footer>