.footer{
    justify-content: center;
    text-align: center;
    background-color: rgb(22,28,52);
    width: 100vw;
  }
  
  .Social-media{
    display: grid;
    grid-template-columns: 5fr 5fr;
    text-align: center;
    align-items: center;
    justify-content: center;
    }
  
  .playforge-link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1%;
    color: rgb(255, 255, 255);
  }
  
  .Store{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1%;
    color: white;
  }
  .footer-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    text-decoration:none;
    gap: 1%;
    padding: 1%;
  
  }

  a:link,a:visited{
    color: white;
  }