<div class="head-game">
    <h1>{{game.title}}</h1>
    <app-carousel></app-carousel>
    <div class="game-description">
        <p>{{game.description}}</p>
        <p>{{game.price}}</p>
        <p>{{game.authorStudio}}</p>
    </div>
</div>

<div class="foot-game">
    <div class="game-details">
        <div class="container">
            <div class="item">Updated <span class="info">Info</span></div>
            <div class="item">Status <span class="info">Info</span></div>
            <div class="item">Platforms <span class="info">Info</span></div>
            <div class="item">Rating <span class="info">Info</span></div>
            <div class="item">Author <span class="info">Info</span></div>
            <div class="item">Genre <span class="info">Info</span></div>
            <div class="item">Made with <span class="info">Info</span></div>
            <div class="item">Tags <span class="info">Info</span></div>
            <div class="item">Average session <span class="info">Info</span></div>
            <div class="item">Language <span class="info">Info</span></div>
            <div class="item">Inputs <span class="info">Info</span></div>
          </div>
    </div>
    <div class="game-input-comment">
        <div class="input-label">
            <input type="text">
        </div>
        <div class="input-label">
            <input type="text">
        </div>
        <div class="rating-stars">
            <app-rating-component></app-rating-component>
        </div>
    </div>
    <div class="game-commentary">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi earum ducimus maiores explicabo fugit, tempore culpa accusamus atque deserunt saepe molestiae. Magnam sunt nulla nam consequatur voluptatum eligendi excepturi cumque.</p>
    </div>
</div>