<div class="head-game">
    <h1>{{game.title}}</h1>
    <app-carousel [images]="images"></app-carousel>
    <div class="game-description">
        <p>{{game.description}}</p>
        <p>{{game.price | currency}}</p>
        <div class="game-author">
            <p>{{game.authorStudio}}</p>
            <button 
            class="library-button" 
            [class.in-library]="isInLibrary"
            [disabled]="loading"
            (click)="toggleLibrary()">
            {{isInLibrary ? 'Retirer de la bibliothèque' : 'Ajouter à la bibliothèque'}}
            <span *ngIf="loading" class="loading-spinner"></span>
        </button>
    </div>
    </div>
</div>

<div class="foot-game">
    <div class="game-details">
        <div class="container">
            <!-- Informations principales -->
            <div class="item" data-label="Auteur">
                <span class="info">{{game.authorStudio}}</span>
            </div>
            <div class="item" data-label="Note">
                <span class="info">{{game.rating || 'Non noté'}}</span>
            </div>
            <div class="item" data-label="Statut">
                <span class="info">{{game.status.name || 'Non spécifié'}}</span>
            </div>
            <div class="item" data-label="Langue">
                <span class="info">{{game.language.name || 'Non spécifiée'}}</span>
            </div>
            
            <!-- Catégories -->
            <div class="item" data-label="Genres">
                <span class="info multiple">
                    <span *ngFor="let genre of game.genres">{{genre.name}}</span>
                </span>
            </div>
            <div class="item" data-label="Tags">
                <span class="info multiple">
                    <span *ngFor="let tag of game.tags">{{tag.name}}</span>
                </span>
            </div>
            <div class="item" data-label="Plateformes">
                <span class="info multiple">
                    <span *ngFor="let platform of game.platforms">{{platform.name}}</span>
                </span>
            </div>
            <div class="item" data-label="Contrôles">
                <span class="info multiple">
                    <span *ngFor="let controller of game.controllers">{{controller.name}}</span>
                </span>
            </div>
            
            <!-- Informations techniques -->
            <div class="item" data-label="Créé avec">
                <span class="info">{{ game.madewith !== null ? game.madewith : 'Non spécifié' }}</span>
            </div>
            <div class="item" data-label="Session moyenne">
                <span class="info">{{averageSession || 'Non spécifiée'}}</span>
            </div>
            <div class="item" data-label="Dernière mise à jour">
                <span class="info">{{game.updatedAt | date:'mediumDate'}}</span>
            </div>
        </div>
    </div>
    <div class="game-input-comment">
        <div class="rating-stars">
            <app-rating-component></app-rating-component>
            <div class="comment-section">
                <textarea placeholder="Écrivez votre avis ici..." rows="4" class="review-textarea"></textarea>
                <button class="submit-review">Envoyer l'avis</button>
            </div>
        </div>
    </div>
    <div class="game-commentary">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi earum ducimus maiores explicabo fugit, tempore culpa accusamus atque deserunt saepe molestiae. Magnam sunt nulla nam consequatur voluptatum eligendi excepturi cumque.</p>
    </div>
</div>