
            <div
                class="row col-12 justify-content-center text-center flex-column ">
                <h1>Space Invader</h1>
                <img src="/public/R.jpg" width="500px" height="auto">
                <p>"Space Invaders" est bien plus qu'un simple jeu d'arcade :
                    c'est une icône culturelle qui a défini une génération de
                    jeux vidéo. Pour ceux qui cherchent à dominer ce classique
                    intemporel</p>

            </div>
