/* You can add global styles to this file, and also import other style files */
.body {
    background-color: rgba(255, 0, 0, 0.932);
  }

  header {
    background-color: rgb(22, 28, 52);
  }
  
  .background {
    background-color: rgba(255, 0, 0, 0.932);
  }
  
  .sidebar {
    background-color: rgba(255, 0, 0, 0.932);
    border: solid;
    border-width: 0px 5px 5px 0px;
    border-color: rgb(255, 196, 0);
    border-radius: 15px 0px 15px 15px;
    position: absolute;
  
  }
  
  .Main {
    background-color: rgb(2, 2, 2);
    border: solid;
    border-width: 5px 0px 5px 0px;
    border-color: rgb(255, 196, 0);
    border-radius: 15px;
    padding: 0rem !important;
  
  }
  
  
  .btnHome {
      background-color: rgba(0, 0, 0, 0);
      border: 0px;
      color: rgba(0, 0, 0, 0);
      text-decoration: none;
      
    }
    
    
    
    .footer {
      background-color: rgba(255, 0, 0, 0.932);
    }

    .btnsearch{
        border-radius: 0% 50% 50% 0%;
        background-color: rgb(26, 54, 255);
        width: auto;
        height: 30px;
    }
  
    .searchbar{
        width: 800px;
        height: 30px;
    }
  


  