<header>
    <!-- Navbar -->

    <div class="container-fluid">
        <nav class="navbar navbar-dark">

            <!-- Left links -->

            <div
                class="flex-row col-md-12 d-flex justify-content-between">
                <div
                    class="left col-md-3 flex-row d-flex justify-content-init">
                    <div class="logo m-0 p-0">
                        <button class="btnHome text-decoration-none justify-content-center"
                            href="#">
                            <img src="/public/logo-white.svg" alt="" width="60" height="37">
                         </button>
                    </div>
                    <ul class="navbar-nav flex-row m-2">
                        <li class="nav-item text-center mr-2">
                            <a class="Accueil nav-link active"
                                aria-current="page"
                                href="#!">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="37" viewBox="0 0 16 16"><path fill="white" d="M5.502 3a4.5 4.5 0 0 0 0 9h5.008a4.5 4.5 0 1 0 0-9zM3.504 7.5a.5.5 0 0 1 .5-.5h1V6a.5.5 0 1 1 1 0v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0V8h-1a.5.5 0 0 1-.5-.5M11 9a1 1 0 1 1-2 0a1 1 0 0 1 2 0m0-2a1 1 0 1 1 0-2a1 1 0 0 1 0 2"/></svg>
                                </div>
                                All Games
                            </a>
                        </li>

                        <li class="nav-item text-center mr-2">
                            <a class="Accueil nav-link active"
                                aria-current="page"
                                href="#!">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="37" viewBox="0 0 1024 1024"><path fill="#ffb800" d="M544 864V672h128L512 480L352 672h128v192H320v-1.6c-5.376.32-10.496 1.6-16 1.6A240 240 0 0 1 64 624c0-123.136 93.12-223.488 212.608-237.248A239.81 239.81 0 0 1 512 192a239.87 239.87 0 0 1 235.456 194.752c119.488 13.76 212.48 114.112 212.48 237.248a240 240 0 0 1-240 240c-5.376 0-10.56-1.28-16-1.6v1.6z"/></svg>
                                </div>
                                Uploads
                            </a>
                        </li>

                        <li
                            class="Collections nav-item text-center ml-2">
                            <a class="nav-link active"
                                aria-current="page"
                                href="#!">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="37" viewBox="0 0 24 24"><path fill="white" d="m21.743 12.331l-9-10c-.379-.422-1.107-.422-1.486 0l-9 10a.998.998 0 0 0-.17 1.076c.16.361.518.593.913.593h2v7a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-4h4v4a1 1 0 0 0 1 1h3a1 1 0 0 0 1-1v-7h2a.998.998 0 0 0 .743-1.669"/></svg>
                                </div>
                                Home
                            </a>
                        </li>

                    </ul>
                </div>
                <!-- Left links -->

                <!-- Search form -->
                <form
                    class="search col-md-6 m-3 d-flex flex-row">
                    <input class="searchbar" type text-white="search"
                        class="form-control"
                        placeholder="Rechercher un jeu"
                        aria-label="Search" />
                    <button class="btnsearch" type m-4>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24"><path fill="white" d="M15.5 14h-.79l-.28-.27a6.5 6.5 0 0 0 1.48-5.34c-.47-2.78-2.79-5-5.59-5.34a6.505 6.505 0 0 0-7.27 7.27c.34 2.8 2.56 5.12 5.34 5.59a6.5 6.5 0 0 0 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0c.41-.41.41-1.08 0-1.49zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5S14 7.01 14 9.5S11.99 14 9.5 14"/></svg>                                </div>
                    </button>
                </form>
                <!-- Search form -->

                <!-- Right links -->
                <div
                    class="right  col-md-3 flex-row d-flex justify-content-end">
                    <ul class="navbar-nav flex-row m-2">
                        <li class="nav-item text-center ml-3 mr-2">
                            <div
                                class="badgeMessage bg-warning text-dark position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary ">0
                            </div>

                            <a class="nav-link active" href="#!">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="37" viewBox="0 0 24 24"><path fill="currentColor" d="M6 2h12v2H6zM4 5h16v2H4zM1.839 8H22.16l-2.1 14H3.94zm2.322 2l1.5 10H18.34l1.5-10zm6.34 1.5l4.666 3.5l-4.667 3.5z"/></svg>
                                </div>
                                Library
                            </a>
                        </li>
                        <li class="nav-item text-center ml-2 mr-2">
                            <div
                                class="badgeNotif bg-warning text-dark position-absolute top-0 start-100 translate-middle badge rounded-pill bg-secondary ">0
                            </div>
                            <a class="nav-link active" href="#!">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="37" viewBox="0 0 512 512"><path fill="currentColor" d="M440.08 341.31c-1.66-2-3.29-4-4.89-5.93c-22-26.61-35.31-42.67-35.31-118c0-39-9.33-71-27.72-95c-13.56-17.73-31.89-31.18-56.05-41.12a3 3 0 0 1-.82-.67C306.6 51.49 282.82 32 256 32s-50.59 19.49-59.28 48.56a3.1 3.1 0 0 1-.81.65c-56.38 23.21-83.78 67.74-83.78 136.14c0 75.36-13.29 91.42-35.31 118c-1.6 1.93-3.23 3.89-4.89 5.93a35.16 35.16 0 0 0-4.65 37.62c6.17 13 19.32 21.07 34.33 21.07H410.5c14.94 0 28-8.06 34.19-21a35.17 35.17 0 0 0-4.61-37.66M256 480a80.06 80.06 0 0 0 70.44-42.13a4 4 0 0 0-3.54-5.87H189.12a4 4 0 0 0-3.55 5.87A80.06 80.06 0 0 0 256 480"/></svg>
                                </div>
                                Notification
                            </a>
                        </li>

                        <li class="nav-item text-center ml-2 mr-3">
                            <a class="nav-link active" href="#!">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="37" viewBox="0 0 48 48"><g fill="#FFB800" fill-rule="evenodd" clip-rule="evenodd"><path d="M24 27a8 8 0 1 0 0-16a8 8 0 0 0 0 16m0-2a6 6 0 1 0 0-12a6 6 0 0 0 0 12"/><path d="M44 24c0 11.046-8.954 20-20 20S4 35.046 4 24S12.954 4 24 4s20 8.954 20 20M33.63 39.21A17.9 17.9 0 0 1 24 42a17.9 17.9 0 0 1-9.831-2.92q-.36-.45-.73-.93A2.14 2.14 0 0 1 13 36.845c0-1.077.774-1.98 1.809-2.131c6.845-1 11.558-.914 18.412.035A2.08 2.08 0 0 1 35 36.818c0 .48-.165.946-.463 1.31q-.461.561-.907 1.082m3.355-2.744c-.16-1.872-1.581-3.434-3.49-3.698c-7.016-.971-11.92-1.064-18.975-.033c-1.92.28-3.335 1.856-3.503 3.733A17.94 17.94 0 0 1 6 24c0-9.941 8.059-18 18-18s18 8.059 18 18a17.94 17.94 0 0 1-5.015 12.466"/></g></svg>
                                </div>
                                Profile
                            </a>
                        </li>

                    </ul>
                    <!-- Right links -->
                </div>
            </div>
        </nav>
    </div>
    <!-- Navbar -->
</header>