<div class="auth">
  <div class="form">
    <div *ngIf="isLoginMode; else signupTemplate">
      <app-sign-in>
        <a
          auth-toggle
          class="auth-toggle-link"
          href="#"
          (click)="toggleMode($event)"
        >
          Pas de compte ? créez en un ici !
        </a>
      </app-sign-in>
    </div>

    <ng-template #signupTemplate>
      <app-sign-up>
        <a
          auth-toggle
          class="auth-toggle-link"
          href="#"
          (click)="toggleMode($event)"
        >
          Déjà un compte ?
        </a>
      </app-sign-up>
    </ng-template>
  </div>
</div>
