
<nav style="--count: 4;">
  <ul>
    <li style="--index: 1;">
      <a href="#" target="_blank" rel="noreferrer noopener">
        <span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
            stroke-width="1.5"
            class="w-6 h-6"><path fill="#ffb800"
              d="M22.002 11.884a2.91 2.91 0 0 1-1.69 2.64l-14.21 6.9a3.18 3.18 0 0 1-1.19.25c-.195 0-.39-.02-.58-.06a2.85 2.85 0 0 1-1.53-.85a2.88 2.88 0 0 1-.77-1.57a2.84 2.84 0 0 1 .27-1.72l.06-.11l2.23-3.1a1.66 1.66 0 0 1 1.25-.7l1.16-.08l6.4-.45a1 1 0 0 0 0-2l-6.3-.44l-1.09-.07a1.7 1.7 0 0 1-1.27-.72l-2.17-3.12a2.91 2.91 0 0 1 1.92-4.34a2.82 2.82 0 0 1 1.79.2l14 6.7a2.92 2.92 0 0 1 1.72 2.64" /></svg>
          Menu</span>
      </a>
    </li>
    <li style="--index: 2;">
      <a href target="_blank" rel="noreferrer noopener">
        <span>
          <svg role="img" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"><title>Upload</title><path
              fill="#1A68FF"
              d="M14.8 9c.1-.3.2-.6.2-1c0-2.2-1.8-4-4-4c-1.5 0-2.9.9-3.5 2.2c-.3-.1-.7-.2-1-.2C5.1 6 4 7.1 4 8.5c0 .2 0 .4.1.5c-1.8.3-3.1 1.7-3.1 3.5C1 14.4 2.6 16 4.5 16H8v-3H5l4.5-4.5L14 13h-3v3h3.5c1.9 0 3.5-1.6 3.5-3.5c0-1.8-1.4-3.3-3.2-3.5" /></svg>
          Upload
        </span>
      </a>
    </li>
    <li style="--index: 3;">
      <a href target="_blank" rel="noreferrer noopener">
        <span>
          <svg role="img" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"><title>Download</title><path
              fill="#1A68FF"
              d="m12 16l-5-5l1.4-1.45l2.6 2.6V4h2v8.15l2.6-2.6L17 11zm-6 4q-.825 0-1.412-.587T4 18v-3h2v3h12v-3h2v3q0 .825-.587 1.413T18 20z" /></svg>
          Download
        </span>
      </a>
    </li>
  </ul>
</nav>
