
<header class="header">
        
    <nav>
            <ul class="nav">
                    

            <li><app-nav-item text="All Games" img="/ion_network.svg"
                    routerLink="/all-game"></app-nav-item></li>
            <li><app-nav-item text="Upload" img="/ion_upload.svg"
                    routerLink="/game"></app-nav-item></li>
            <li><app-nav-item text="Home" img="/ion_home.svg"
                    routerLink="/"></app-nav-item></li>

        </ul>

        <div class="app-searchbar">
            <app-searchbar></app-searchbar>
        </div>

        <ul class="nav">

            <li><app-nav-item text="Library" img="/ion_library.svg"
                    routerLink="/library"></app-nav-item></li>
            <li><app-nav-item text="Notifications"
                    img="ion_notification.svg"></app-nav-item></li>
            <li><app-nav-item text="Profile" img="ion_profile.svg"
                    routerLink="/profile"></app-nav-item></li>

        </ul>

    </nav>
</header>
