
    <header class="header">

        <nav>
           
            
            <ul class="nav">
                
                <img class="logo-white" src="/logo-white.svg" alt width="30%"
                height="30%">
               
                <li><app-nav-item text="All Games" img="/Vector.png" routerLink="/all-game"></app-nav-item></li>
                <li ><app-nav-item text="Upload" img="/Vector (5).png" routerLink="/game"></app-nav-item></li>
                <li><app-nav-item text="Home" img="/Vector (4).png" routerLink="/home"></app-nav-item></li>

            </ul>

        </nav>
        <div class="app-searchbar">
            <app-searchbar></app-searchbar>
        </div>


        <div class="profile-menu">

            <ul class="nav">

                <li><app-nav-item text="Library" img="Vector (3).png" routerLink="/library"></app-nav-item></li>
                <li><app-nav-item text="Notifications" img="Vector (7).png"></app-nav-item></li>
                <li><app-nav-item text="Profile" img="Vector (1).png" routerLink="/profile"></app-nav-item></li>

            </ul>
        </div>
        
    </header>
