<div class="searchbar">
    <input
        class="search"
        type="text"
        [(ngModel)]="searchQuery"
        placeholder="Rechercher des jeux..."
        (input)="onInput()" />
    <button class="search-btn" (click)="reset()"><img src="/ion_cross.svg"
            alt></button>

        </div>
        <div class="error-menu">
            <div class="error" *ngIf="errorMessage" class="error">
                {{ errorMessage }}
            </div>
        </div>
            
        <div class="menu" *ngIf="games.length > 0">
            <ul class="toggle-search">
                <li *ngFor="let game of games">
                    <strong>
                        <a class="link" [routerLink]="['/game/id', game.id]">
                            <img  class="imageUrl" [src]="game.imageUrl">
                            - {{ game.title }} - {{ game.price | currency}}
                        </a>
                    </strong>
                </li>
            </ul>
        </div>
