/* Style pour la barre de recherche */
.searchbar {
  width: 100%;
  top: 0;
  display: grid;
  grid-template-columns: 15fr 0.5fr;
  justify-content: center;
  gap: 0.15%;
}

/* Style pour le champ de recherche */
.search {
  color: white;
  padding: 0.5%;
  padding-left: 2%;
  background-color: rgba(186, 186, 186, 0.3);
  /* Utilisation de rgba pour la transparence */
  border-color: rgba(186, 186, 186, 0.1);
  border-radius: 2vh 0vh 0vh 2vh;
}

/* Style pour le bouton de recherche */
.search-btn {
  display: flex;
  background-color: #1a68ff;
  border-color: #1a68ff;
  border-radius: 0vh 2vh 2vh 0vh;
  justify-content: center;
  align-items: center;
  padding: 10%;
}

/* Style pour les messages d'erreur */
.error-menu{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  position: absolute;
  padding: 1%;
  text-transform: uppercase;
  color: white;
  background-color: rgb(22, 28, 52, 100%);
  width:30%;
  border:groove rgba(186, 186, 186, 100);
  border-top: none;
  border-radius: 0vh 0vh 2vh 2vh;
  z-index: 1000;
}

.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style pour le conteneur toggle-search */
.toggle-search {
  position: absolute;
  list-style: none;
  background-color: rgb(22, 28, 52, 100%);
  width:65%;
  border:groove rgba(186, 186, 186, 100);
  border-top: none;
  border-radius: 0vh 0vh 2vh 2vh;
  z-index: 1000;
}

.toggle-search li {
  padding:1%;
}

.toggle-search a {
  width: 100%;
  text-decoration: none;
  color: white;
}

.toggle-search strong :hover{
  color: #1a68ff;
}

/* Styles responsives pour les petits écrans */
@media (max-width: 768px) {
  img {
    width: 15px;
  }

  .searchbar {
    grid-template-columns: 10fr 1fr;
  }

  .toggle-search{
    left: 0;
    top: 75px;
    width: 100%;
  }
}