<div class="select-container">
    <div class="select">

        <select name="state" (change)="onSelectChange($event)">
            <option value="text">{{text}}</option>
            <option value={{value1}}>{{value1}}</option>
            <option value={{value2}}>{{value2}}</option>
            <option value={{value3}}>{{value3}}</option>
            <option value={{value4}}>{{value4}}</option>
            <option value={{value5}}>{{value5}}</option>
            <option value={{value6}}>{{value6}}</option>
            <option value={{value7}}>{{value7}}</option>
            <option value={{value8}}>{{value8}}</option>
            <option value={{value9}}>{{value9}}</option>
            <option value={{value10}}>{{value10}}</option>
            <option value={{value11}}>{{value11}}</option>
            <option value={{value12}}>{{value12}}</option>

          </select>

    </div>
</div>